name: update-song

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v5

      - name: setup uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.6"

      - name: execute py script
        env:
          SPOTIFY_CLIENT_ID: ${{ secrets.SPOTIFY_CLIENT_ID }}
          SPOTIFY_CLIENT_SECRET: ${{ secrets.SPOTIFY_CLIENT_SECRET }}
        run: uv run updater/run.py

      - name: commit readme if changed
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add README.md
          if ! git diff --cached --quiet; then
            git commit -m "bot: update song"
            git push
          else
            echo "No changes to commit"
          fi
